# Dependencies
node_modules/

# Build output (temporário local)
dist/

# OS files
.DS_Store
Thumbs.db
localManipulationData/

# Editor
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
