<header class="header">
    <nav class="nav container">
        <a href="{{ site.baseurl }}/" class="logo">
            <span class="logo-icon">🌿</span>
            <span class="logo-text">APA do Encantado</span>
        </a>
        <ul class="nav-links">
            <li><a href="{{ site.baseurl }}/#sobre">Sobre</a></li>
            <li><a href="{{ site.baseurl }}/historia/">História</a></li>
            <li><a href="{{ site.baseurl }}/parceiros/">Parceiros</a></li>
            <li><a href="{{ site.baseurl }}/#galeria">Galeria</a></li>
            <li><a href="{{ site.baseurl }}/#atracoes">Atrações</a></li>
            <li><a href="{{ site.baseurl }}/#atividades">Atividades</a></li>
            <li><a href="{{ site.baseurl }}/#localizacao">Localização</a></li>
            <li><a href="{{ site.baseurl }}/#contato" class="nav-cta">Agende sua Visita</a></li>
        </ul>
        <button class="mobile-menu-btn" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</header>